.titulo{
    text-align: center;
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.parrafo{
    color: goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;
}
.parrafo2{
    color: lawngreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-small;
    text-align: center;
}
.contenedor{
    background-color: white;
    padding: 10px;
    border: 2px;
}

.id2 {
    color: darkmagenta;
    text-align: center;
    
}